.DS_Store
node_modules/
dist/
/.env
.env.local
.env.*.local
.cache
.vite
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
coverage/
logs/
*.log
/.netlify